<body  data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<!-- NAVBAR TOP -->
<nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">                                                                         
  <div class="container">
      <a class="navbar-brand" href="#">
        <svg width="150" height="50" viewBox="0 0 300 100" xmlns="http://www.w3.org/2000/svg">
            <text x="50" y="70" font-size="50" font-weight="bold" fill="#0D6AB3">Evo</text>
            <text x="125" y="70" font-size="50" font-weight="bold" fill="#000000">Tech</text>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Serviços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#features">Caracteristicas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Portifolios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pricing">Preços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Time</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contato</a>
              </li>
          </ul>
          <button class="btn btn-primary ms-lg-3"  id="signButton" onclick="toSignup()" >Junte-se conosco</button>
      </div>
  </div>
</nav>
<!-- END NAVBAR -->

<!-- Top Part -->

<div class="hero vh-100 d-flex align-items-center bg-dark " id="home">
  <div class="container bg-dark">
      <div class="row">
          <div class="col-lg-7 mx-auto text-center">
              <h1 class="display-4 text-white">"Transforme seu Negócio com Soluções de TI de Ponta - Experimente a Inovação Sem Limites Hoje!"</h1>
              <p class="text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quia
                  sequi eius. Quas, totam aliquid. Repudiandae reiciendis vel excepturi ipsa voluptate dicta!</p>
              <a href="#" class="btn me-2 btn-primary">Comece Agora</a>
              <a href="#" class="btn btn-outline-light">Nosso portifolio</a>
          </div>
      </div>
  </div>
</div>

<!-- End top part -->

<!-- Serviços -->

<section id="services" class="bg-dark text-light">
  <div class="container bg-dark">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h6 > SERVIÇOS</h6>
              <h1 >Our Services</h1>
              <p >Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                  in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>
          </div>
      </div>
      <div class="row g-4 bg-dark">
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect bounceInUp">
                  <div class="iconbox">
                      <i class='bx bxs-check-shield'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect">
                  <div class="iconbox">
                      <i class='bx bxs-comment-detail'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect">
                  <div class="iconbox">
                      <i class='bx bxs-cog'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect">
                  <div class="iconbox">
                      <i class='bx bxs-heart'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect">
                  <div class="iconbox">
                      <i class='bx bxs-rocket'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="service card-effect">
                  <div class="iconbox">
                      <i class='bx bxs-doughnut-chart'></i>
                  </div>
                  <h5 class="mt-4 mb-2">Service</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                      perferendis </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- End Serviços -->

<!-- Escolher -->
<section class="row py-0 bg-dark text-light" id="features">
  <div class="col-lg-6 col-img"></div>
  <div class="col-lg-6 py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-10 offset-md-1">
                  <h6 class="text-primary">PORQUE NOS ESCOLHER</h6>
                  <h1>Melhores soluções para sua empresa</h1>
                  <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque
                      fuga
                      in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>

                  <div class="feature d-flex mt-5">
                      <div class="iconbox me-3">
                          <i class='bx bxs-comment-edit'></i>
                      </div>
                      <div>
                          <h5>Feature</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo </p>
                      </div>
                  </div>
                  <div class="feature d-flex">
                      <div class="iconbox me-3">
                          <i class='bx bxs-user-circle'></i>
                      </div>
                      <div>
                          <h5>Feature</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo </p>
                      </div>
                  </div>
                  <div class="feature d-flex">
                      <div class="iconbox me-3">
                          <i class='bx bxs-download'></i>
                      </div>
                      <div>
                          <h5>Feature</h5>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo </p>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>

<!-- Final Escolher -->
<section id="portfolio" class="bg-dark text-light">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h6 class="text-primary">PROJETOS</h6>
              <h1>Nossos Trabalhos recentes</h1>
              <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                  in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>
          </div>
      </div>
      <div class="row g-3">
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro1.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro2.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro3.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro4.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro5.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="project">
                  <img src="img/pro6.jpg" alt="">
                  <div class="overlay">
                      <div>
                          <h4 class="text-white">Project Title</h4>
                          <h6 class="text-white">Website Design</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="pricing" class="bg-dark text-light">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h6 class="text-primary">Preços</h6>
              <h1>Nossos Preços simples e em conta</h1>
              <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                  in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>
          </div>
      </div>
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6">
              <div class="pricing card-effect text-center">
                  <h6>STARTER</h6>
                  <h1>R$100,00</h1>
                  <hr>
                  <ul class="list-unstyled mb-4">
                      <li><i class='bx bxs-check-circle'></i>
                          Premium support</li>
                      <li><i class='bx bxs-check-circle'></i>
                          30+ Webmaster Tools</li>
                      <li><i class='bx bxs-check-circle'></i>
                          Drag & Drop Builder</li>
                      <li><i class='bx bxs-check-circle'></i>
                          eCommerce Store</li>
                      <li><i class='bx bxs-check-circle'></i>Wordpress plugins</li>
                  </ul>
                  <button class="btn btn-primary">Comece Agora!</button>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="pricing card-effect text-center">
                  <h6>STARTER</h6>
                  <h1>R$299,99</h1>
                  <hr>
                  <ul class="list-unstyled mb-4">
                      <li><i class='bx bxs-check-circle'></i>
                          Premium support</li>
                      <li><i class='bx bxs-check-circle'></i>
                          30+ Webmaster Tools</li>
                      <li><i class='bx bxs-check-circle'></i>
                          Drag & Drop Builder</li>
                      <li><i class='bx bxs-check-circle'></i>
                          eCommerce Store</li>
                      <li><i class='bx bxs-check-circle'></i>Wordpress plugins</li>
                  </ul>
                  <button class="btn btn-primary">Comece Agora!</button>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="pricing card-effect text-center">
                  <h6>STARTER</h6>
                  <h1>R$599,99</h1>
                  <hr>
                  <ul class="list-unstyled mb-4">
                      <li><i class='bx bxs-check-circle'></i>
                          Premium support</li>
                      <li><i class='bx bxs-check-circle'></i>
                          30 Webmaster Tools</li>
                      <li><i class='bx bxs-check-circle'></i>
                          Drag & Drop Builder</li>
                      <li><i class='bx bxs-check-circle'></i>
                          eCommerce Store</li>
                      <li><i class='bx bxs-check-circle'></i>Wordpress plugins</li>
                  </ul>
                  <button class="btn btn-primary">Comece Agora!</button>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="pricing card-effect text-center">
                  <h6>STARTER</h6>
                  <h1>R$899,99</h1>
                  <hr>
                  <ul class="list-unstyled mb-4">
                      <li><i class='bx bxs-check-circle'></i>
                          Premium support</li>
                      <li><i class='bx bxs-check-circle'></i>
                          30 Webmaster Tools</li>
                      <li><i class='bx bxs-check-circle'></i>
                          Drag & Drop Builder</li>
                      <li><i class='bx bxs-check-circle'></i>
                          eCommerce Store</li>
                      <li><i class='bx bxs-check-circle'></i>Wordpress plugins</li>
                  </ul>
                  <button class="btn btn-primary">Comece Agora!</button>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="team" class="bg-dark text-light">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h6 class="text-primary">TIME</h6>
              <h1>Conheça nossos membros</h1>
              <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                  in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>
          </div>
      </div>
      <div class="row text-center g-4">
          <div class="col-lg-3 col-sm-6">
              <div class="team-member card-effect">
                  <img src="img/team1.jpg" alt="">
                  <h5 class="mb-0 mt-4">Ricardo</h5>
                  <p>Web Developer</p>
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="team-member card-effect">
                  <img src="img/team2.jpg" alt="">
                  <h5 class="mb-0 mt-4">Fabio</h5>
                  <p>Web Developer</p>
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="team-member card-effect">
                  <img src="img/team3.jpg" alt="">
                  <h5 class="mb-0 mt-4">Jessica</h5>
                  <p>Web Developer</p>
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="team-member card-effect">
                  <img src="img/team4.jpg" alt="">
                  <h5 class="mb-0 mt-4">Gustavo</h5>
                  <p>Web Developer</p>
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="contact" class="bg-dark text-light">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h6 class="text-primary">CONTATO</h6>
              <h1>Entre em contato</h1>
              <p>Lorem ipsum dolor sit amet consectetur nisi necessitatibus repellat distinctio eveniet eaque fuga
                  in cumque optio consectetur harum vitae debitis sapiente praesentium aperiam aut</p>
          </div>
      </div>

      <form action="" class="row g-3 justify-content-center">
          <div class="col-md-5">
              <input type="text" class="form-control" placeholder="Nome Completo">
          </div>
          <div class="col-md-5">
              <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Assunto">
          </div>
          <div class="col-md-10">
              <textarea name="" id="" cols="30" rows="5" class="form-control"
                  placeholder="Escreva sua Mensagem"></textarea>
          </div>
          <div class="col-md-10 d-grid">
              <button class="btn btn-primary">Contate</button>
          </div>
      </form>

  </div>
</section>

<footer class="bg-dark text-light">
  <div class="footer-top bg-dark">
      <div class="container">
          <div class="row gy-4">
              <div class="col-lg-4">
                <img src="/images/MicrosoftTeams-image.png" alt="" width="200px" height="200px">
              </div>
              <div class="col-lg-2">
                  <h5 class="text-white">Nossa Marca</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Sobre</a></li>
                      <li><a href="#">Serviços</a></li>
                      <li><a href="#">Caracteristicas</a></li>
                      <li><a href="#">Preços</a></li>
                  </ul>
              </div>
              <div class="col-lg-2">
                  <h5 class="text-white">Saiba Mais</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">FAQ's</a></li>
                      <li><a href="#">Privacidade</a></li>
                      <li><a href="#">Garantia</a></li>
                      <li><a href="#">Entrega</a></li>
                  </ul>
              </div>
              <div class="col-lg-4">
                  <h5 class="text-white">Contact</h5>
                  <ul class="list-unstyled">
                      <li>Endereço: SENAC coisa boa</li>
                      <li>Email: Robson.graham@senac.com</li>
                      <li>Telefone: (11) 96666-6666</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p class="mb-0">© 2023 copyright all right reserved | Designed by<i
                      class="bx bx-heart text-danger"> E.G.T</i>
              </div>
              <div class="col-md-6">
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<script>    
    const loginButton = document.querySelector('#signButton');
    loginButton.addEventListener('click', () => {
    window.location.href = '/signup';
});

</script>

    
