<body  data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<!-- NAVBAR TOP -->
<nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-white">                                                                         
  <div class="container">
      <a class="navbar-brand" href="#">
          <img class="logo" src="/MicrosoftTeams-image.png" alt="logo" height="50px" width="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#home" id="toHome" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Serviços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#features">Caracteristicas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Portifolios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pricing">Preços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Time</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contato</a>
              </li>
          </ul>
          <button class="btn btn-primary ms-lg-3"  id="loginButton" >Junte-se conosco</button>
      </div>
  </div>
</nav>

<div class="hero vh-100 d-flex align-items-center bg-dark " id="home">
  <div class="container bg-dark">
      <div class="row">
          <div class="col-lg-7 mx-auto text-center">
              <h1 class="display-4 text-white">"Transforme seu Negócio com Soluções de TI de Ponta - Experimente a Inovação Sem Limites Hoje!"</h1>
              <p class="text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quia
                  sequi eius. Quas, totam aliquid. Repudiandae reiciendis vel excepturi ipsa voluptate dicta!</p>
              <a href="#" class="btn me-2 btn-primary">Comece Agora</a>
              <a href="#" class="btn btn-outline-light">Nosso portifolio</a>
          </div>
      </div>
  </div>
</div>

<footer class="bg-dark">
  <div class="footer-top bg-dark">
      <div class="container">
          <div class="row gy-4">
              <div class="col-lg-4">
                  <img class="logo" src="MicrosoftTeams-image.png" alt="logo" height="250px">
              </div>
              <div class="col-lg-2">
                  <h5 class="text-white">Nossa Marca</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">Sobre</a></li>
                      <li><a href="#">Serviços</a></li>
                      <li><a href="#">Caracteristicas</a></li>
                      <li><a href="#">Preços</a></li>
                  </ul>
              </div>
              <div class="col-lg-2">
                  <h5 class="text-white">Saiba Mais</h5>
                  <ul class="list-unstyled">
                      <li><a href="#">FAQ's</a></li>
                      <li><a href="#">Privacidade</a></li>
                      <li><a href="#">Garantia</a></li>
                      <li><a href="#">Entrega</a></li>
                  </ul>
              </div>
              <div class="col-lg-4">
                  <h5 class="text-white">Contact</h5>
                  <ul class="list-unstyled">
                      <li>Endereço: SENAC coisa boa</li>
                      <li>Email: Robson.graham@senac.com</li>
                      <li>Telefone: (11) 96666-6666</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p class="mb-0">© 2023 copyright all right reserved | Designed by<i
                      class="bx bx-heart text-danger"> E.G.T</i>
              </div>
              <div class="col-md-6">
                  <div class="social-icons">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-twitter'></i></a>
                      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
